body {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #f9f9f9;
  margin: auto;
}

.form-name {
  margin-top: 77px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 371px;
  height: 122px;
}

.name-input {
  box-sizing: border-box;
  width: 371px;
  height: 48px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.first-and-last-name {
  display: flex;
}

.form-last-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 371px;
  margin-top: 77px;
  margin-left: 56px;
}

.form-photo {
  margin-top: 46px;
  margin-left: 150px;
  display: flex;
}

.upload-photo-text {
  width: 232px;
  height: 22px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1a1a1a;
}

.upload-photo {
  display: flex;
  flex-direction: row;
  width: 107px;
  height: 27px;
  margin-left: 19px;
}

.photo-upload-style {
  position: absolute;
  width: 107px;
  height: 27px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  flex: none;
  flex-grow: 0;
  background: #0e80bf;
  border-radius: 4px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 846px;
  height: 148px;
  margin-top: 54px;
  margin-left: 150px;
}

.about-me-input {
  box-sizing: border-box;
  width: 798px;
  height: 103px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  resize: none;
}

.form-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 846px;
  height: 122px;
  margin-top: 33px;
  margin-left: 150px;
}

.email-input {
  box-sizing: border-box;
  width: 798px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  resize: none;
}

.form-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 846px;
  height: 122px;
  margin-top: 21px;
  margin-left: 150px;
}

.next-btn-location {
  margin-top: 110px;
  margin-left: 797px;
}
