body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #f9f9f9;
    margin: auto;
    display: flex;
}

.form-university {
    position: relative;
    margin-left: 150px;
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.university-input {
    box-sizing: border-box;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.about-degree {
    margin-left: 150px;
    margin-top: 31px;
    display: flex;
}





.form-degree {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}

.degree-input {
    box-sizing: border-box;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.arrow {
    position: absolute;
    top: 50.87px;
    left: 341.85px;
}


.degree-end-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-left: 56px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 371px;
    height: 369px;
    filter: drop-shadow(0px 16px 28px rgba(0, 0, 0, 0.24));
    border-radius: 4px;
    margin: 0px;
    top: 78px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 16px;
    gap: 10px;
    width: 346px;
    height: 21px;
    background: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}



.degree-end-input {
    box-sizing: border-box;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.description-education-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-left: 150px;
    margin-top: 26px;
}

.description-education-input {
    box-sizing: border-box;
    width: 798px;
    height: 179px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    resize: none;
}

.line-education {
    width: 798px;
    height: 0px;
    margin-left: 150px;
    margin-top: 53px;
    border: 1px solid #C1C1C1;
}

.more-education-btn {
    margin-left: 150px;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 289px;
    height: 48px;

    background: #62a1eb;
    border-radius: 4px;
    border: none;
    padding-left: 21px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttons {
    display: flex;
    margin-top: 200px;
    margin-left: 150px;
}

.next-btn-location {
    margin-left: 525px;
}